name: Build-Orbis-Pro-APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build APK
        uses: duckduckgo/gh-action-website-to-apk@v1
        with:
          url: "https://${{ github.repository_owner }}.github.io/PS4-Emulator/"
          name: "Orbis_Ultra_Pro"
