name: Build-Orbis-Pro-APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build Web to APK
        uses: sweto/web-to-apk-action@v1
        with:
          url: "https://amansidd354-creator.github.io/-Orbis_Ultra_Pro/"
          app-name: "Orbis_Ultra_Pro"
          package-name: "com.orbis.ultra.pro"
