name: Build-Orbis-Pro-APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build APK
        uses: duckduckgo/gh-action-website-to-apk@v1
        with:
          url: "https://amansidd354-creator.github.io/-Orbis_Ultra_Pro/"
          name: "Orbis_Ultra_Pro"
